.container {
  display: flex;
  justify-content: center;
}

.header {
  margin-bottom: 5px;
}

.traitsAndImageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 16px 16px 0 16px; /* top right bottom left */
}

.traitsContainer {
  display: none; /* flex; */
  flex-direction: column;
  /* margin-right: 16px; */
}

.trait {
  margin-bottom: 2px;
}

.tokenImage {
  display: flex;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box; /* to include padding in max-width */
}

.tokenImage svg {
  max-width: 100%;
  max-height: calc(100vh - (250px));
  width: auto;
  height: auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

/* Add a media query for small screens */
@media screen and (max-width: 768px) {
  .traitsAndImageContainer {
    flex-direction: column;
  }

  .traitsContainer {
    align-items: flex-start;
    /* If needed, you can remove the commented-out margin-right */
    /* margin-right: 0; */
  }
}
