.container {
  display: flex;
  justify-content: center;
}

.tokenImage svg {
  max-width: 100%;
  max-height: calc(100vh - (250px));
  width: auto;
  height: auto;

  padding: 16px 16px 0 16px; /* top right bottom left */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

