.tokenInfo {
  display: flex;
  flex-direction: row;
}

.tokenInfoColumn {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.tokenInfoColumn div span {
  padding-left: 5px;
}

.tokenPrice {
  font-size: x-large;
}
